In [61]:
import pandas as pd

In [62]:
df = pd.read_csv('vine_table.csv')

In [63]:
display(df)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RED72VWWCOS7S,1.0,2.0,8.0,N,Y
1,RZHWQ208LTEPV,5.0,0.0,0.0,N,Y
2,R37LBC3XAVLYOO,5.0,4.0,5.0,N,Y
3,R3L7XJMA0MVJWC,5.0,0.0,0.0,N,Y
4,R2I2GHSI7T1UBN,1.0,5.0,6.0,N,Y
...,...,...,...,...,...,...
2557283,R3MV8JFJJJ3WU0,2.0,12.0,12.0,N,N
2557284,RGL89WE5DFU75,5.0,19.0,24.0,N,N
2557285,R203ZDOKV987E5,3.0,231.0,236.0,N,N
2557286,R8GD7D9HK6S2W,5.0,17.0,29.0,N,N
2557287,R2QCF5NWYPK06U,5.0,86.0,106.0,N,N

In [64]:
df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [65]:
df_20 = df[df['total_votes'] >= 20.0]

In [66]:
display(df_20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
159,RQQ3KVTU5TJ4I,5.0,24.0,29.0,N,Y
213,R3FELXWV9T5CWE,2.0,22.0,24.0,N,Y
225,ROBYK6EZYK398,5.0,29.0,30.0,N,Y
252,R2RKCSAG6GBA4A,1.0,8.0,28.0,N,Y
311,R2YVBBR6NXIA4V,5.0,25.0,28.0,N,N
...,...,...,...,...,...,...
2557282,R19OAQWX9CYMOQ,3.0,45.0,52.0,N,N
2557284,RGL89WE5DFU75,5.0,19.0,24.0,N,N
2557285,R203ZDOKV987E5,3.0,231.0,236.0,N,N
2557286,R8GD7D9HK6S2W,5.0,17.0,29.0,N,N
2557287,R2QCF5NWYPK06U,5.0,86.0,106.0,N,N

In [67]:
df_20['useful'] = (df_20['helpful_votes'] / df_20['total_votes'] )

C:\Users\Will\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [68]:
df_useful = df_20[df_20['useful'] >= 0.5]

In [69]:
display(df_useful)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,useful
159,RQQ3KVTU5TJ4I,5.0,24.0,29.0,N,Y,0.827586
213,R3FELXWV9T5CWE,2.0,22.0,24.0,N,Y,0.916667
225,ROBYK6EZYK398,5.0,29.0,30.0,N,Y,0.966667
311,R2YVBBR6NXIA4V,5.0,25.0,28.0,N,N,0.892857
558,R2AVTBDIVG2AW4,5.0,26.0,26.0,N,N,1.000000
...,...,...,...,...,...,...,...
2557282,R19OAQWX9CYMOQ,3.0,45.0,52.0,N,N,0.865385
2557284,RGL89WE5DFU75,5.0,19.0,24.0,N,N,0.791667
2557285,R203ZDOKV987E5,3.0,231.0,236.0,N,N,0.978814
2557286,R8GD7D9HK6S2W,5.0,17.0,29.0,N,N,0.586207
2557287,R2QCF5NWYPK06U,5.0,86.0,106.0,N,N,0.811321

In [70]:
df_Y = df_useful[df_useful['vine'] == 'Y']

In [71]:
display(df_Y)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,useful
37363,R28DXTC3JQ9IY1,4.0,24.0,26.0,Y,N,0.923077
58520,R3AFZKLQXATHBU,5.0,44.0,49.0,Y,N,0.897959
83985,R2RUUF2JPJPC0E,4.0,20.0,22.0,Y,N,0.909091
90459,RFZ2WUH4248AB,2.0,26.0,27.0,Y,N,0.962963
95122,R1Q4LVHIFOWYFR,5.0,23.0,28.0,Y,N,0.821429
...,...,...,...,...,...,...,...
2493457,R3VJ31ZXGGEIA7,3.0,26.0,40.0,Y,N,0.650000
2496815,R3G3DHILRCTHU7,4.0,28.0,28.0,Y,N,1.000000
2498001,R3KEI56N0J7WVA,5.0,63.0,64.0,Y,N,0.984375
2498022,R27NCPPLBK9MJM,5.0,31.0,33.0,Y,N,0.939394
2498072,R29XHJ9MWZM9TK,5.0,305.0,322.0,Y,N,0.947205

In [72]:
df_N = df_useful[df_useful['vine'] == 'N']

In [78]:
df_5 = df_useful[df_useful['star_rating'] == 5.0]
display(df_5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,useful
159,RQQ3KVTU5TJ4I,5.0,24.0,29.0,N,Y,0.827586
225,ROBYK6EZYK398,5.0,29.0,30.0,N,Y,0.966667
311,R2YVBBR6NXIA4V,5.0,25.0,28.0,N,N,0.892857
558,R2AVTBDIVG2AW4,5.0,26.0,26.0,N,N,1.000000
1368,RLNULBKRWNNR,5.0,42.0,43.0,N,Y,0.976744
...,...,...,...,...,...,...,...
2557276,R22RSZPUWBOOCA,5.0,21.0,31.0,N,N,0.677419
2557278,R22GEU6PHDLLLF,5.0,27.0,30.0,N,N,0.900000
2557284,RGL89WE5DFU75,5.0,19.0,24.0,N,N,0.791667
2557286,R8GD7D9HK6S2W,5.0,17.0,29.0,N,N,0.586207
2557287,R2QCF5NWYPK06U,5.0,86.0,106.0,N,N,0.811321

In [79]:
total_reviews = len(df_useful)
total_5star_reviews = len(df_5)

In [88]:
star5_paid = (len(df_5[df_5['verified_purchase'] == 'Y'])) / (total_5star_reviews)
print(star5_paid)

star5_unpaid = (len(df_5[df_5['verified_purchase'] == 'N'])) / (total_5star_reviews)
print(star5_unpaid)

0.703206346582927
0.296793653417073